################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kpi-dashboard-ui/.vscode/launch.json
/kpi_UnitTest/bin/Debug/net8.0
/kpi_UnitTest/obj
