################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kpi-dashboard-ui/.vscode/launch.json
